<h1>Edit User Information</h1>

<%= render 'form' %>

<div class="btn-group">
<%= link_to 'Show', @user, :class => 'btn btn-info' %>
<%= link_to 'Back', users_path, :class => 'btn btn-default' %>
</div>