<h1>Current Forage Members</h1>

<% if user_signed_in? == false %>
<p>Want to join in the fun? Feel free to <%= link_to "sign up!", new_user_registration_path %>
<% end %>

<table cellpadding="8" cellspacing="2">


  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.merchant_type %></td>
        <td><%= link_to 'View Profile', user, :class => 'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
