<h1>About Forage</h1>
<p>The idea for forage was born from the stories of home-growers that grew food at home - and found they were rewarded with an abundance of produce. Often; after giving away to friends and family and eating as much as they could, would still have some left ofter - which would go into the compost or into the bin!</p>
<p>Forage was first conceived by Sam Peters, looking for a way to get access to this wealth of leftover produce provide a means for people to ensure everything they harvest got used! </p>
<p class="disclaimer">Forage cannot guarantee that items listed are organic, home-grown or pesticide free. It is the responsibility of the purchaser to ascertain the sources of the products they're buying.</p>