<%= @title = "Confirm your reservation" %>

<p>Please enter below the date and time you wish to collect your order.</p>

<p>Once you do this:<br />
	<ul>
	<li>An email will be sent to the lister with these details</li>
	<li>They will either accept, reject or suggest a different date and time</li>
	<li>Keep in touch with the seller to make sure plans stay the same (especially if the pick up date is not within a week)</li>
	<li>Once you've agreed on a date and time, the listing will be marked as sold. Until then, other users may contact the lister for the same item(s), at which point it at is their discretion whom they select to sell to.</li>
	</ul>


