/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import 'bootstrap';
@import 'bootstrap/theme';


p{
	color: #fff;
}

h1, h2, h3, h4, h5, h6, em, a{
	color: #fff;
}

.listview{
	padding: 15px 10px 10px 10px;
	border-bottom: 1px dotted #777777;
}

.listcontent{
	margin-left: 165px;
}

.listimage{
	padding: 10px;
	float: left;
}

.listimage img{
	width: 100px;
}

.customcontainer{
	background-color: rgba(0, 0, 0, 0.7);
	border-bottom-right-radius:2em;
	border-bottom-left-radius:2em;
	-moz-border-bottom-right-radius:2em;
	-webkit-border-bottom-left-radius:2em;

}

/* Applicaitionbody class used to overwrite Bootstrap's generic styles */
.applicationbody{
  background-image: url('homebg.jpg');
  background-repeat:no-repeat;
  background-color: #222222;
  background-size: cover !important;
  color: #FFF;
}

.applicationbody a:not(.btn){
	text-decoration: none;
	color: #66aa00;
}

.applicationbody a:hover:not(.btn) {
	color: #66aa00;
}


.applicationbody a:visited:not(.btn) {
	text-decoration: none;
	color: #66aa00;
}

.applicationbody btn-default a {
	color: #000;
}



.footer{
	margin: 0 auto;
	width: 80%;
	padding: 10px 25px;
}

.footer ul{
	list-style: none;
    display: -moz-box;
    display: -webkit-box;
    display: box;

}

.footer li:nth-child(odd){
    margin: 5px 30px;
    text-align: left;
	
}

.footer li:nth-child(even){
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    margin: 5px 30px;
    text-align: center;
	
}

.loggedinavatar{
	padding: 5px;
	float: left;
}


.btn-go {
  width: 120px;
  height: 70px;
  font-size: 24px;
  padding: 2px;
  background-color: hsl(100, 95%, 10%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#379f04", endColorstr="#113101");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#379f04), to(#113101));
  background-image: -moz-linear-gradient(top, #379f04, #113101);
  background-image: -ms-linear-gradient(top, #379f04, #113101);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #379f04), color-stop(100%, #113101));
  background-image: -webkit-linear-gradient(top, #379f04, #113101);
  background-image: -o-linear-gradient(top, #379f04, #113101);
  background-image: linear-gradient(#379f04, #113101);
  border-color: #113101 #113101 hsl(100, 95%, 4.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
  -webkit-font-smoothing: antialiased;
}

.searchbar{
	border: none;
	background: none;
	border-bottom: 1px solid white;
	font-size: 28px;
	color: #fff;
	text-align: center;
}

.homesearch{
	width: 50%;
	padding: 15px;
	margin: 0 auto;
	text-align: center;
}
