<ul>
	<li><%= link_to 'Home', root_path %></li>
	<li><%= link_to 'About Forage', controller: '/pages', action: :about %></li>
	<li><%= link_to 'Contact/ Feedback', controller: '/pages', action: :contact %></li>

</ul>