	<div class="brandholder">
		
	<%= link_to (image_tag 'superlogo.png', :width => 150, :class => 'brand'), root_path %>

			<div class="brand">
			<h1 class="brandname">Forage</h1>
			<h2 class="brandsubtitle">Find fresh.</h2>
			</div>
		</div>
