<div class="brand"><%= image_tag 'superlogo.png', :width => 100 %>
<h1 class="brandname">Forage</h1>
<h3 class="brandsubtitle">Find fresh.</h3>
</div>

<ul class="nav nav-tabs">
<li><%= link_to 'Home', root_path %></li>
<li><%= link_to 'Members', users_path %></li>
<li><%= link_to 'All Listings', listings_path %></li>
</ul>