<h1> Welcome to Forage.</h1>

<%= form_tag listings_path, method: :get do %>
<p>I'm looking for... </p>
<%= text_field_tag :search_term %>
<p>In... </p>
<%= text_field_tag :suburb %>
<%= submit_tag 'Forage' %>
<% end %>