<div class="homesearch">

<%= form_tag listings_path, method: :get do %>
<h1>I'm looking for...
<%= text_field_tag :search_term, 'something', :class => 'searchbar' %>
in 
<%= text_field_tag :suburb, 'any place', :class => 'searchbar' %><br /><br /></h1>
<%= submit_tag 'Forage', :class => 'btn btn-go' %>
<% end %>

</div>